<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPA com Angular</title>
</head>

<body>

  <mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <span> My first SPA</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
 
  <div>
    
    <spa-alunos [initialValue]="value"></spa-alunos>

    <button (click)="changeValue()">Mudar Valor</button>
    <button (click)="restartValue()">Reiniciar Valor</button>
    <button (click)="getTable()">Exibir Tabela</button>
    
  </div>

  <table *ngIf="showTable">
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>E-mail</th>
      <th>Curso</th>
    </tr>
    <tr *ngFor="let student of studentList">
      <td>{{student.firstName}}</td>
      <td>{{student.age}}</td>
      <td>{{student.email}}</td>
      <td>{{student.course}}</td>
    </tr>
  </table>

  <spa-professores></spa-professores>

</body>

</html>